[submodule "deps/profiler"]
	path = libs/profiler
	url = https://github.com/qwreey75/profiler.lua
[submodule "libs/promise"]
	path = libs/promise
	url = https://github.com/qwreey75/promise.lua
[submodule "libs/logger"]
	path = libs/logger
	url = https://github.com/qwreey75/logger.lua
[submodule "libs/mutex"]
	path = libs/mutex
	url = https://github.com/qwreey75/mutex.lua
[submodule "libs/myXml"]
	path = libs/myXml
	url = https://github.com/qwreey75/myXml.lua
[submodule "libs/cat"]
	path = libs/cat
	url = https://github.com/qwreey75/catscript
[submodule "libs/discordia_enchant"]
	path = libs/discordia_enchant
	url = https://github.com/qwreey75/discordia_enchant
[submodule "libs/discordia"]
	path = libs/discordia
	url = https://github.com/SinisterRectus/Discordia
[submodule "libs/wmic"]
	path = libs/wmic
	url = https://github.com/qwreey75/wmic.lua
[submodule "libs/unpack"]
	path = libs/unpack
	url = https://github.com/qwreey75/unpack.lua
[submodule "libs/random"]
	path = libs/random
	url = https://github.com/qwreey75/random.lua
[submodule "commands/rblx"]
	path = commands/rblx
	url = https://github.com/qwreey75/rblxConnection
