# 테스팅 파일
test.lua
lit-temp

# Discordia 생성 파일
gateway.json
discordia.log

# 데이터 파일
data/*

# vscode files
.vscode/*

# bin libs
ffmpeg.exe
ffplay.exe
ffprobe.exe

# dll
opus.dll
sodium.dll

# 로그 파일
log/*
